@model List<Student_Attendance>
    


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student Id</th>
            <th>Attendance State</th>
            <th>group name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.studentId</td>
                <td>@item.Attendance_State</td>
                <td>@ViewBag.group.Name</td>
            </tr> 
        }

