@model List<Group>
@* @{
    SelectList groupItems = new SelectList(ViewBag.groups , "Id" , "Name");
} *@

<form method="get" asp-action="GetStudents" asp-controller="Student">
    <div class="form-group">
        <label for="groupSelect">Select a Group:</label>
        <br>
        <select name="groupId" id="groupSelect" class="form-control">
            @foreach (var group in Model)
            {
                <option value="@group.Id">@group.Name</option>
            }
        </select>
    </div>
    <br>
   <div style="justify-content: center;">
   <button type="submit" class="btn btn-primary" style="justify-content: center;">Get Students</button>
   </div> 
</form>
